@model IEnumerable<DemoHotelBooking.ViewModels.DetailedRoomStatusViewModel>

<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title text-center text-primary text-uppercase">Phòng chúng tôi</h6>
    <h1 class="mb-5">Khám phá <span class="text-primary text-uppercase">khách sạn</span></h1>
</div>

@await Html.PartialAsync("RoomList", Model)
